.hello-heroku
  = 'Hello Heroku!'

.form
= form_with model: @book, url: books_path, class: 'input-form',local: true do |f|
  .input-form__text
    = 'TITLE'
  = f.text_area :title, class: 'input-form__input', placeholder: 'タイトル'
  .input-form__text
    = 'PRICE'
  = f.number_field :price, class: 'input-form__input', placeholder: '価格'
  .input-form__text
    = 'MEMO'
  = f.text_area :memo, class: 'input-form__input', placeholder: 'コメント'
  .input-form__submit
    = f.submit 'SUBMIT', class: 'input-form__submit--btn'

.book-list
  - @books.each do |book|
    .book-list__info
      = book.title
      = "#{book.price}円"
      = book.memo
      = link_to '削除', book_path(book), class: 'book-list__info--link', method: :delete
